body {
  font-family: sans-serif;
  background: lightblue;
}

div {
  border-radius: 6px;
  background: lightseagreen;
  padding: 15px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
  visibility: hidden;
}

#main {
  display: grid !important;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  /* Need to learn how to do this again */
}

.entry {
  background-image: url("https://cdn.discordapp.com/attachments/907359457695113227/920512728953651200/unknown.png");
  position: relative;
  margin: 20px;
  padding: 10px;
  transition: 0.3s;
  z-index: 0;
}

.entry:hover {
  transition: 0.5s;
  padding: 20px;
  cursor: pointer;
}

.entry b,
.entry span {
  color: white;
}

#blur {
  position: absolute;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#play {
  width: 800px;
  height: 600px;
}

#app {
  width: 400px;
  height: 300px;
}

#close {
  position: absolute;
  top: 5%;
  font-size: 25px;
  text-align: right;
  left: 95%;
  right: 10%;
  font-weight: lighter;
}

#close:hover {
  font-weight: bold;
  cursor: pointer;
}
